<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.cobook</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>viber</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used for taking your picture</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to find the near cards</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to find the near cards</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to find the near cards</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used for uploading images and videos from gallery.</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueCyr-Black.ttf</string>
		<string>HelveticaNeueCyr-BlackItalic.ttf</string>
		<string>HelveticaNeueCyr-Bold.ttf</string>
		<string>HelveticaNeueCyr-BoldItalic.ttf</string>
		<string>HelveticaNeueCyr-Heavy.ttf</string>
		<string>HelveticaNeueCyr-HeavyItalic.ttf</string>
		<string>HelveticaNeueCyr-Italic.ttf</string>
		<string>HelveticaNeueCyr-LightItalic</string>
		<string>HelveticaNeueCyr-Medium.ttf</string>
		<string>HelveticaNeueCyr-MediumItalic.ttf</string>
		<string>HelveticaNeueCyr-Roman.ttf</string>
		<string>HelveticaNeueCyr-Thin.ttf</string>
		<string>HelveticaNeueCyr-ThinItalic.ttf</string>
		<string>HelveticaNeueCyr-UltraLight.ttf</string>
		<string>HelveticaNeueCyr-UltraLightItalic.ttf</string>
		<string>SFProDisplay-Medium.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Auth</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
    <key>FirebaseDynamicLinksCustomDomains</key>
    <array>
      <string>https://dev.share.cobook.app/link</string>
    </array>
</dict>
</plist>
