<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeueCyr-Black.ttf</string>
		<string>HelveticaNeueCyr-BlackItalic.ttf</string>
		<string>HelveticaNeueCyr-Bold.ttf</string>
		<string>HelveticaNeueCyr-BoldItalic.ttf</string>
		<string>HelveticaNeueCyr-Heavy.ttf</string>
		<string>HelveticaNeueCyr-HeavyItalic.ttf</string>
		<string>HelveticaNeueCyr-Italic.ttf</string>
		<string>HelveticaNeueCyr-LightItalic</string>
		<string>HelveticaNeueCyr-Medium.ttf</string>
		<string>HelveticaNeueCyr-MediumItalic.ttf</string>
		<string>HelveticaNeueCyr-Roman.ttf</string>
		<string>HelveticaNeueCyr-Thin.ttf</string>
		<string>HelveticaNeueCyr-ThinItalic.ttf</string>
		<string>HelveticaNeueCyr-UltraLight.ttf</string>
		<string>HelveticaNeueCyr-UltraLightItalic.ttf</string>
		<string>SFProDisplay-Medium.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Auth</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
